@import "../../Colours.scss";

.comments {
  width: 60%;
  .comment {
    margin-top: 0.5em;
    padding: 1em;
    background-color: $secondaryColour;
  }
  .form-floating {
    color: black;
  }

  @media screen and (max-width: 1199px) {
    width: 70%;
  }
  @media screen and (max-width: 991px) {
    width: 90%;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}
