@import "../../Colours.scss";

.postDetails {
  margin-top: 2em;
  color: $textColour;

  .flex {
    justify-content: space-between;

    .detailsWrapper {
      background-color: $primaryColour;
      padding: 0.5em;
      width: 70%;
    }
  }

  @media screen and (max-width: 1199px) {
    .flex {
      .detailsWrapper {
        width: 80%;
      }
    }
  }

  @media screen and (max-width: 991px) {
    .flex {
      flex-wrap: wrap-reverse;
      .detailsWrapper {
        width: 100%;
      }
    }
  }
}
