@import "../../Colours.scss";

.postDetails {
  margin-top: 2em;
  color: $textColour;

  .flex {
    justify-content: space-between;

    .left-side {
      width: 70%;
      .detailsWrapper {
        background-color: $primaryColour;
        padding: 0.5em;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    .flex {
      .left-side {
        width: 80%;
      }
    }
  }

  @media screen and (max-width: 991px) {
    .flex {
      flex-wrap: wrap-reverse;
      .left-side {
        width: 100%;
      }
    }
  }
}
