@import "../../../Colours.scss";

nav {
  text-align: center !important;
  border-bottom: 2px solid $primaryColour;
  .nav-link {
    color: $lightTextColour;
    .active {
      color: $textColour;
    }
  }
}
