@import "~bootstrap/scss/bootstrap";
@import "./Colours.scss";

body {
  background-color: $bgColour;
  nav {
    text-align: center !important;
    border-bottom: 2px solid $primaryColour;
  }
  .flex {
    display: flex;
  }
}
