@import "../../Colours.scss";

.home {
  color: $textColour;
  margin-top: 2em;

  .flex {
    justify-content: space-between;
    flex-wrap: nowrap;

    .skelletons,
    .posts {
      width: 30em;
    }

    .posts {
      display: flex;
      flex-direction: column;
      gap: 2em;

      .post {
        background-color: $primaryColour;
        padding: 0.5em 1.5em;
        border-radius: 4px;

        p {
          display: -webkit-box;
          overflow: hidden !important;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .flex {
          justify-content: space-between;
          align-items: flex-end;
        }
      }
    }
  }

  @media screen and (max-width: 990px) {
    .flex {
      flex-wrap: wrap-reverse;
    }
  }

  @media screen and (max-width: 576px) {
    .flex {
      .skelletons,
      .posts {
        width: 100%;
      }
    }
  }
}
