@import "../../Colours.scss";

.home {
  color: $textColour;
  margin-top: 2em;
  .flex {
    justify-content: space-between;
    flex-wrap: wrap-reverse;

    .skelletons,
    .posts {
      width: 40em;
    }

    .posts {
      display: flex;
      flex-direction: column;
      gap: 2em;

      .post {
        background-color: $primaryColour;
        padding: 0.5em 1.5em;
        border-radius: 4px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .flex {
      .skelletons,
      .posts {
        width: unset;
      }
    }
  }
}
