@import "../../Colours.scss";

.home {
  color: $textColour;
  padding-top: 2em;
  .flex {
    justify-content: space-between;
    flex-wrap: wrap;

    .skelletons,
    .posts {
      width: 40em;
    }
  }
}
